fastapi>=0.115.0
uvicorn[standard]
langchain>=0.3.0
langchain-core>=0.3.0
langchain-community>=0.3.0
sentence-transformers
transformers
faiss-cpu
numpy>=2.0.0  # Because Python 3.13 may require numpy >2.0
scipy
python-dotenv
requests
